*{
  margin:0;
  padding: 0;
}
body{
  color: #e76f51;
  background-color:#e9c46a;
}
h1{
  color: inherit;
  font-weight: 700px;
  margin: 10px;
  text-shadow: 2px 2px 2px #264653;
}
/* //Navbar */
.top{
  width: 100%;
  height: 50px;
  background-color: #264653;
  color: #e9c46a;
  position: sticky;
  top: 0;
}
.list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list li{
  text-decoration: none;
  list-style-type: none;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  margin: 10px;
}
.list li:hover{
  font-size: 1.3rem
}
/* //Post */
div.post{
  display: grid;
  grid-template-columns:0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
}
.texts h2{
  margin: 0;
  font-size: 2rem;
  text-shadow: 1.5px 1px 2px #003049;
}

div.post div.texts a {
  text-decoration:none;
  color: inherit;
}

.info{
  margin: 7px 0;
  color:#0030494f;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
}

.author{
  color: #003049af;
  cursor: pointer;
}
.summary{
  margin: 6px 0;
  line-height: 1.3rem;
}
img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
.icon{
  font-size: 15px;
  margin: 5px;
  border-radius: 10px;
  background-color:#e76f51;
}
.icon:nth-of-type(1){
  background-color:#606c38;
  color: white;
}
/* //Forms */
.heading{
  cursor: pointer;
  text-align: center;
}
.login .register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 20px;
  border: 0;
  border-radius: 10px;
}
button{
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2a9d8f;
}

.error-message{
  font-weight: bolder;
  font-size: 30px;
  opacity: 0.70;
  text-align: center;
}